<h1>Pokemon List</h1>

<form method="get" action="<%= pokemon_index_path %>">
  <input type="text" name="search" placeholder="Search Pokemon" value="<%= params[:search] %>">

  <select name="type">
    <option value="">All Types</option>
    <% @types.each do |type| %>
      <option value="<%= type %>" <%= "selected" if params[:type] == type %>><%= type.capitalize %></option>
    <% end %>
  </select>


  <input type="submit" value="Search">
</form>

<!--Pokemon List-->
<ul>
  <% @pokemon.each do |p| %>
    <li>
      <%= image_tag "sprites/#{p.pokedex_id.to_s.rjust(3, '0')}MS.png", size: "50x50" %>
      <%= link_to p.name, pokemon_path(p) %>
    </li>
  <% end %>
</ul>
<%= will_paginate @pokemon %>
