<h1><%= @pokemon.name %></h1>

<%= image_tag "pokemon/#{@pokemon.pokedex_id.to_s.rjust(3, '0')}.png", size: "150" %>


<p>Type(s): <%= @pokemon.type%></p> <!--Might need to change to type-->

<h2>Base Stats</h2>
<ul>
  <li>HP: <%= @pokemon.base_hp %></li>
  <li>Attack: <%= @pokemon.base_attack %></li>
  <li>Defense: <%= @pokemon.base_defense %></li>
  <li>Sp. Attack: <%= @pokemon.base_sp_attack %></li>
  <li>Sp. Defense: <%= @pokemon.base_sp_defense %></li>
  <li>Speed: <%= @pokemon.base_speed %></li>
</ul>